
form.login {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: steelblue;
	color: white;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	padding-bottom: 50px;
	box-shadow: 5px 0 15px 0 grey;
	
}

form.login input {
	padding: 10px;
	width: 95%;
}

form.login input[type="submit"] {
	border: 1px solid lightgrey;
	width: 100%;	
	border-radius: 2px;
	background-color: steelblue;
	color: white;
	cursor: pointer;
	transition: 0.125s linear;
	text-transform: uppercase;
	
}

form.login input[type="submit"]:hover {
	box-shadow: 5px 0 15px 0 white;	
	transform: scale(1.01);
}

form input[value="Logout"] {
	border: none;
	color: white;
	background-color: transparent;
	cursor: pointer;
}

.login-error {
	color: white;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: deeppink;
	padding: 10px;
	width: 35%;
	margin: 0 auto;	
}

.logout-successful {	
	color: white;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: olive;
	padding: 10px;
	width: 35%;
	margin: 0 auto;
}












