<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Countries</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>
    <link rel="stylesheet" th:href="@{/bower_components/material-design-lite/material.min.css}" ></link>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
	<script th:src="@{/bower_components/material-design-lite/material.min.js}" ></script>
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
	<script th:src="@{/bower_components/dialog-polyfill/dialog-polyfill.js}"></script>
    <link rel="stylesheet" th:href="@{/bower_components/dialog-polyfill/dialog-polyfill.css}" ></link>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">

		<div th:replace="layout :: header"></div>
		<div th:replace="layout :: drawer"></div>

		<main class="mdl-layout__content">
		<div class="page-content">
		<!-- content -->
		
			<!-- dialog -->
			
			  <dialog class="mdl-dialog">
			    <h4 class="mdl-dialog__title">Allow data deletion?</h4>
			    <div class="mdl-dialog__content">
			      <p>
			        Once the data is deleted it cannot be recovered anymore.
			      </p>
			    </div>
			    <div class="mdl-dialog__actions">
			      <button type="button" class="mdl-button delete">Delete</button>
			      <button type="button" class="mdl-button close">Cancel</button>
			    </div>
			  </dialog>
			  <!-- dialog -->
			  
			  <!-- toast -->
			  <div id="toast" th:attr="data-message=${toast}" class="mdl-js-snackbar mdl-snackbar">
				  <div class="mdl-snackbar__text"></div>
				  <button class="mdl-snackbar__action" type="button"></button>
			   </div>
			  <!-- toast -->
		
			<h2 class="message" th:text="${message}"></h2>
			
			
			<div class="mdl-grid" >
				
				<div class="mdl-cell mdl-cell--4-col" >
				
					<form method="post" th:action="@{/country/save}" th:object="${country}" >
							
						  <input type="hidden" th:field="*{id}" />
					
						  <!-- Simple Textfield -->						
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{name}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Name...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{capital}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Capital city...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{population}" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Population...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{language}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Language...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{code}" class="mdl-textfield__input" type="text" maxlength="5" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Code...</label>
						  </div>	
						  
						  <!-- FAB button with ripple -->
						  <button th:switch="${edit}" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
						  	<i th:case="false" class="material-icons">add</i>
						  	<i th:case="true" class="material-icons">edit</i>
						  </button>
						  					
					
					</form>
				
				</div>
			
				<div class="mdl-cell mdl-cell--8-col">						
					
					<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Country</th>
					      <th class="mdl-data-table__cell--non-numeric">Capital</th>
					      <th class="mdl-data-table__cell--non-numeric">Language</th>
					      <th class="mdl-data-table__cell--non-numeric">code</th>
					      <th>Population</th>					      
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="country : ${countries}" >
					      <td class="mdl-data-table__cell--non-numeric"><a th:text="${country.name}" th:href="@{/country/update/{id}(id=${country.id})}" ></a></td>
					      <td th:text="${country.capital}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${country.language}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${country.code}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${country.population}">data</td>
					      <td>
					      	<a th:href="@{/country/delete/{id}(id=${country.id})}" class="show-dialog" th:attr="data-id=${country.id}" >
					      		<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
								  	<i class="material-icons">delete</i>
								</button>
					      	</a>
					      </td>				      
					    </tr>					   
					  </tbody>
					</table> <!-- table -->
					
							
				</div> <!-- cell -->				
			</div> <!-- grid -->		
			
			<!-- content -->
		</div>
		</main>

		<div th:replace="layout :: footer"></div>
		
	</div>	

</body>
</html>