<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Countries</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>
    <link rel="stylesheet" th:href="@{/bower_components/material-design-lite/material.min.css}" ></link>
    <script th:src="@{/bower_components/material-design-lite/material.min.js}" ></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
	
</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">

		<div th:replace="layout :: header"></div>
		<div th:replace="layout :: drawer"></div>

		<main class="mdl-layout__content">
		<div class="page-content">
		<!-- content -->
		
			<h2 class="message" th:text="${message}"></h2>
			
			
			<div class="mdl-grid" >
				
				<div class="mdl-cell mdl-cell--12-col" >
				
					<form method="post" th:action="@{/country/update}" th:object="${country}" >
					
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{id}" class="mdl-textfield__input" type="text" readonly="readonly" />
						    <label class="mdl-textfield__label" for="sample1">Id...</label>
						  </div>
						  					
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{name}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Name...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{capital}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Capital city...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{population}" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Population...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{language}" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Language...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{code}" class="mdl-textfield__input" type="text" maxlength="5" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Code...</label>
						  </div>	
						  
						  <a th:href="@{/country}">
						  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
						  		Cancel
						  	</button>
						  </a>
						  
						  <!-- FAB button with ripple -->
						  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						  	<i class="material-icons">edit</i>
						  </button>
						  					
					
					</form>
				
				</div>
			
							
			</div> <!-- grid -->		
			
			<!-- content -->
		</div>
		</main>

		<div th:replace="layout :: footer"></div>
		
	</div>

</body>
</html>