<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Admin</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" ></link>
    <link rel="stylesheet" th:href="@{/bower_components/material-design-lite/material.min.css}" ></link>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
	<script th:src="@{/bower_components/material-design-lite/material.min.js}" ></script>	
</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">

		<div th:replace="layout :: header"></div>
		<div th:replace="layout :: drawer"></div>

		<main class="mdl-layout__content">
		<div class="page-content">
		<!-- content --> 			
			
			<div class="mdl-grid" >
			
			<div class="mdl-cell mdl-cell--12-col" >				
					<form method="post" th:action="@{/admin/save}" th:object="${adminFormData}" >												
						  					
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{username}" name="username" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Username...</label>
						  </div>
						  
						  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						    <input th:field="*{password}" name="password" class="mdl-textfield__input" type="text" required="required"/>
						    <label class="mdl-textfield__label" for="sample1">Password...</label>
						  </div>					  
						  
						  <select th:field="*{authority}" required="required">
						  	<option value="ROLE_USER">User</option>
						  	<option value="ROLE_ADMIN" >Admin</option>
						  </select>
						  
						  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
							  <input th:field="*{enabled}" type="radio" id="option-2" class="mdl-radio__button" name="enabled" value="true" required="required"/>
							  <span class="mdl-radio__label">Enabled</span>
						  </label>
						  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
							  <input th:field="*{enabled}" type="radio" id="option-1" class="mdl-radio__button" name="enabled" value="false"/>
							  <span class="mdl-radio__label">Desabled</span>
						  </label>																	  			  						  
						  						  
						  <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
						  	<i class="material-icons">add</i>						  	
						  </button>					
					</form>				
				</div> <!-- cell -->
			
				<div class="mdl-cell mdl-cell--12-col">					
					<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Username</th>
					      <th class="mdl-data-table__cell--non-numeric">Password</th>
					      <th class="mdl-data-table__cell--non-numeric">Enabled</th>
					      <th class="mdl-data-table__cell--non-numeric">Authority</th>					      				     					      
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="user : ${users}" >
					      <td th:text="${user.username}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${user.password}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${user.enabled}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td th:text="${user.authority}" class="mdl-data-table__cell--non-numeric">data</td>
					      <td class="mdl-data-table__cell--non-numeric">
					      	<a th:href="@{/admin/delete/{username}(username=${user.username})}" >
					      		<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
								  	<i class="material-icons">delete</i>
								</button>
					      	</a>
					      </td>				    
					    </tr>					   
					  </tbody>
					</table> <!-- table -->							
				</div> <!-- cell -->	
				
				
			
							
			</div> <!-- grid -->		
			
			<!-- content -->
		</div>
		</main>

		<div th:replace="layout :: footer"></div>
		
	</div>		

</body>
</html>